# Dependencies
node_modules/

# Expo / Metro
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# Native
android/
ios/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Tests / coverage
coverage/

# Debug / OS
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store

# Env / secrets
.env
.env*.local
*.pem

# TypeScript
*.tsbuildinfo
